#form1 ul{
	padding:20px 50px 0px 0px;
}
#form2 ul{
	padding:20px 50px 0px 0px;
}
.zc-pbox{
	width: 100%;
	padding:120px 0;
}
.zc-inbox{
	width: 70%;
	margin: auto;	
}

.zc-iptbox{
	list-style: none;
	padding: 0;
	margin-bottom: 12px;
	text-align: right;
	font-size: 15pt;
}

.red{
	color: #ff8650;
}

.ycode-box{
	width: 273px;
	display: inline-block;
	padding-right: 50%;
	height: 48px;
}

.t_val{
	padding-left: 10px;
	display: inline-block;
	font-size: 14pt;
	border: 1px solid rgb(233, 235, 238); 
	color: rgb(96, 96, 108); 
	width: 273px;
}

input{
	padding: 9px 5px;
}
.submit{
	display: inline-block;
	margin-top: 20px;
}
.myModalTitle{
	text-align: center;
}

#back{
	float: left;
}
#submit{
	display: inline-block;
}

.customfalse{
	color: #ac2925;
}
.customtrue{
	color: #5cb85c;
}
.customempty{
	color: #f0ad4e;
}
