.navheader{
	width: 80%;
	margin: auto;
	opacity: 1;
	font-size: 15pt;
}
.navbar-brand{
	padding: 0;
	height: 60px;
}
.navheader .nav{
	margin-top: 5px;
}
.navheader .navbar-form{
	margin-top: 15px;
}
.navigation{
	position: fixed;
}

.body-bg{
	margin: auto;
	margin-top: 60px;
	padding: 0;
	position: relative;
	height: 1200px;
	overflow: hidden;
}

.bg-list{
	padding: 0;
	margin: 0;
	height: 1100px;
	position: absolute;

}
.bg-list li{
	list-style: none;
	display: inline-block;
	position: relative;
	margin: 0;
}
.bg-list li img{
	width: 1903px;
}
.bg-list ul{
	padding: 0;
	white-space: nowrap;
	margin-bottom: 0;
}

.bg-controller{
	height: 30px;
	position: relative;
	padding-left: 20px;
}
.bg-controller ul li{
	cursor: pointer;
}

.pager{
	text-align: left;
}
